<div class="ftr-bg">
	<div class="container-fuild" style="margin-left: 30px">
        <div class="row footer">
            <img src="/public/images/logo.png" class="logo-footer">
            <h1 class="text-footer">"ĐẢM BẢO HÀI LÒNG"</h1>
        </div>

    </div>
</div>