<title>Talk Together</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/public/css/styleindex.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
<script src="/public//js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>