<div class="localStream" ng-controller="LocalStreamController as localStream">
    <p><%= username %>: <input ng-model="localStream.name"/></p>
    <video id="localVideo" muted="muted" autoplay="true"></video>
    <li ng-click="localStream.toggleCam()">
      <a href>{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}</a>
    </li>
    <div ng-show="localStream.cameraIsOn">		
      <p><%= share %>:</p>
      <a>{{ localStream.link }}</a>
    </div>
  </div>