<div class="header">
  <div class="logo">
    <a href="index.html"><img src="/public/images/logo.png" alt=""  title="logo"/></a>
  </div>
<ul class="nav">
  <li><a href="#"><img src="/public/images/facebook.png" title="facebook" alt="" /></a></li>
  <li><a href="#"><img src="/public/images/twitter.png" title="twitter" alt="" /></a></li>
  <li><a href="#"><img src="/public/images/youtube.png" title="youtube" alt="" /></a></li>
</ul>

<div class="search">
    <form>
      <input type="text" value="">
      <input type="submit" value="">
    </form>
</div>

<div class="clear"></div>
</div>
<div class ="login">
    <div class="sign-in">
        <a href="#">SIGN IN</a>
    </div>
    
  </div>

<div class="wrp-menu">
  <ul class="nav-bar">
    <li><a href="index.html" class="active">Home</a></li>
    <li><a href="about.html">Live Stream</a></li>
    <li><a href="service.html">Information</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>